.main {
  background-color: #FFB1B1;
}

.background {
  position: fixed;
  background:#474A50;
}

.cheese {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: 'Darumadrop One', cursive;
}

.player {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #474A50;
  font-size: 26px;
  font-family: 'Darumadrop One', cursive;
}

.weather {
  /* text-align: center; */
  padding: 0;
  margin: 0;
  color: #474A50;
  font-size: 35px;
  font-family: 'Darumadrop One', cursive;
}

.text {
  text-align: center;
  color: white;
  font-size: 35px;
  padding: 0;
  margin: 0;
}

.button {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #474A50;
  font-size: 22px;
  font-family: 'Darumadrop One', cursive;
}